---
sudo: required
language: python
services:
  - docker
before_install:
  - sudo apt-get -qq update
env:
  matrix:
    - MOLECULE_DISTRO: centos:7
    - MOLECULE_DISTRO: centos:8
install:
  - python3 -m pip install molecule
  - python3 -m pip install docker 
  # - python3 -m pip install required driver (e.g. docker, shade, boto, apache-libcloud)
script:
  - molecule test
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
